/*Base styles */
* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
p{
  padding: 10px;
  border: 1px solid black;
  background-color: grey;
}

/*responsive styles*/
@media screen and (min-width: 992px) {
  p{
    width: 33.33%;
    float: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
 .p1{
   width: 50%;
   float: left;
  }
  .p2{
    width: 50%;
    float: left;
   }
 .p3{
   width: 100%;
   clear: left;
  }
}

@@media screen (max-width: 767px) {
  p{
    clear: both;
  }
}
